* {
  font-family: Impact, Arial, sans-serif;
}
 
 
h1 {
  color:#FFD700;
}
 
 
p, 
li {
  font-size: 18px;
}
 
 
a {
  text-decoration: none;
}

a:hover {
  color: #FFD700;
}

body {
  background-color: grey;
}